@{

}
<div class="col-12">
    <div class="card">
        <div class="card card-header bg-dark text-white">Resultado de la conversion:</div>
        <div class="card card-body">
            <label for"tipomoneda1" class="col-form-label-lg">@ViewBag.CONVERSION</label>
            <a asp-action="Convertidor">Volver hacia atras...</a>
        </div>
    </div>
</div>