
<div class="col-12">
    <div class="card">
        <div class="card card-header bg-dark text-white">Calculo Finalizado: </div>
        <div class="card card-body">
            <label for"tipomoneda1" class="col-form-label-lg">@ViewBag.CALCULADO</label>
            <a asp-action="Prestamos">Volver hacia atras...</a>
        </div>
    </div>
</div>