@model Application.ViewModel.Zodiaco
@{

}
<div class="col-12">
    <div class="card">
        <div class="card card-header bg-dark text-white">Su signo es: </div>
        <div class="card card-body">
            <label for"tipomoneda1" class="col-form-label-lg">@ViewBag.RESULTADO</label>
            <a asp-action="Index">Volver hacia atras...</a>
        </div>
    </div>
</div>